* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 150px;
  display: flex;
  justify-content: space-between;
  background-color: #021D2E;
}

nav {
  display: flex;
  flex-direction: column-reverse;
}

.nav-links {
  padding-bottom: 25px;
}

.nav-link {
  padding: 25px;
  color: #848484;
  font-size: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #FFFFFF;
}

.rt-header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 25px;
}

#username {
  color: #40A6FF;
  text-decoration: none;

}

h1 {
  margin-bottom: 20px;
  color: #F0F0F0;
  font-size: 45px;
}

.main-container {
  min-height: 100vh;
  background-color: #F0F0F0;
}

.main-container-text {
  color: #021D2E;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10px;
}

h2 {
  flex: none;
  margin-top: 0;
  padding: 25px;
  color: #2B2B2B;
  font-size: 30px;
}

.card {
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid gray;
  background-color: #FFFFFF;
}

.card-img {
  height: 150px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  margin-bottom: 0;
}

.name {
  padding-left: 15px;
  color: #848484;
  font-weight: 400;
}

.date {
  margin-top: 0;
  padding-left: 15px;
  color: #B1B1B3;
}

.card-link-container {
  height: 50px;
  width: 90%;
  display: block;
  margin: auto;
  padding: 5px;
  background-color: #EFEFEF;
}

.card-link {
  color: #848484;
  font-size: 14px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
}

#playlist,
#playlist-name,
#attachments {
  padding-left: 15px;
  color: #848484;
  font-weight: 400;
}

#attachment-number {
  padding-left: 15px;
  color: #FF9500;
  font-size: 25px;
  font-weight: 400;
}

#frank {
  background-image: url(assets/Frank.jpg);
}

#fiona {
  background-image: url(assets/Fiona.jpg);
}

#lip {
  background-image: url(assets/Lip.jpg);
}

#ian {
  background-image: url(assets/Ian.jpg);
}

#debbie {
  background-image: url(assets/Debbie.jpg);
}

#carl {
  background-image: url(assets/Carl.jpg);
}

#veronica {
  background-image: url(assets/Veronica.jpg);
}

#kevin {
  background-image: url(assets/Kevin.jpg);
}
